@media(min-width: 1073px) {
   .grid-item {
    flex-basis: 31.33%;
  }
}

@media(max-width: 1072px) {
  .grid-item {
    flex-basis: 48%;
  }
}


@media(max-width: 555px) {
  .grid-item {
    flex-basis: 98%;
  }
}